body {
	background-color: #4C5471;
	color: #282829;
	min-width: 350px;
}
div.body {
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
}
.pagetitle {
	font-family: 'Helvetica', sans-serif;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	color: #94A0CE;
	font-size: 40px;
	margin-top: 10px;
}

.mainbox {
	background-color: #37393E;
	text-align:center;
	margin-top:15px;
	padding-bottom:60px;
	padding-top:0px;
	border-radius:40px;
	float:left;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
		height: 400px;
		display:block;
		margin-left: auto;
		margin-right: auto;
}
div.menuitem {
	display: inline-block;
	width: 320px;
	height: 200px;
	text-align: center;
	background-color: grey;
	padding: 30px;
	margin: 10px;
	border-radius: 25px;
	border-style: solid;
	border-color: #9194B6;
}

.menu{
	margin-top: 20px;
}

.menu-icon {
	width:100px;
	height:100px;
	opacity: 0.6;
}
.menuitem:hover {
	background-color: #777998;

}
.menulink:link {
	color: #282829;
}
.menulink:visited {
	color: #282829;
}
.bodytext {
	font-family:arial;
	font-size: 20px;
	color: #C8C5C5;
	text-align:left;
}
.footer {
	text-align:center;
	font-color:white;
	font-family:arial;
	font-size:20px;
	margin-top: 20px;
}
.header {
	text-align:center;
	font-color:white;
	font-family:arial;
	font-size:20px;
	margin-bottom: 20px;
	margin-top: 20px;
  background-color: #333;
}
.toc1 {
	padding-left: 35px;
	text-align: left;
}
.text {
	font-family: sans-serif;
	font-size: 14px;
	color: white;
}
h2 {
	color: #ABAAAF;
}
.sidebar {
	text-align:center;
	min-width: 200px;
	background-color: #37393E;
	text-align:center;
	margin-top:15px;
	margin-left:15px;
	padding-bottom:60px;
	padding-top:20px;
	border-radius:40px;
}
.sidebartext {
	font-family:arial;
	font-size: 16px;
	color: #C8C5C5;
	text-align:left;
}
.toc {
	text-align: center;
}
.tocbox {
	background-color: #37393E;
	text-align:center;
	margin-top:5px;
	padding-bottom:60px;
	padding-top:0px;
	border-radius:40px;
}

.tocitem {
}
option {
	color:black;
}
select input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
		color:black;
		text-align: justify;
}
input, .col-centered {
	margin-top: 10px;
	text-align: center;
}
textarea {
    color: #000;
		width: 80%;
		height:300px;
    }
ul {
	list-style-type: none;
}
/*#npc-form, #settlement-form, #deity-form, #faction-form {
	display:none;
}*/
.modalstyle {
	background-color: #37393E;
}
.close {
    color: #fff;
    opacity: 1;
}
.modal-header {
	border-bottom: none;
}
.modal-footer {
	border-top: none;
}
.typebox {
	min-width: 250px;

}
.importbox {
	background-color: green;
}
.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}
.textbox {
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
		color:black;
		text-align: left;
}
.editbutton {
	margin-left: 10px;
	font-size: 14px;
	opacity: 0.6;
	float:right;
}
.glyphicon-edit {
	padding-right: 5px;
}
.delform {
	margin-top:10px;
}
.inline {
	display:inline;
}
.clean, a:hover{
	text-decoration: none;
}
#logsearch {
	padding-left:20px;
	/*text-align: left; */
}
.search {
	width: 300px;
}
.headitem {
	/*background-color: #524b57;*/
	border-bottom: 2px solid;
}
.date {
	min-width: 90px;
}
.padding {
	margin-top:20px;
}
.searchbox {
	border-radius: 10px;
	height: 30px;
	text-align: center;
}
.tablehead {
	background: linear-gradient(to right, #524b57, #37393E);
}
#adddiv, #addbutton {
    padding: 5px;
    text-align: center;
		margin-top: 10px;
}
#adddiv {
    display: none;
}
#delete-log.btn{
	padding: 1px 1px;
	margin-left: -15px;
	opacity: 0.6;
}
#edit-log.btn{
	padding: 1px 1px 0px 6px;
	opacity: 0.6;
	margin-right: 10px;
}
.logbuttons {
	min-width:73px;
}
.date {
	max-width:70px;
}
.logeditbox {
	width: 80%;
	height: 20px;
	color:black;
	text-align: left;
	margin-top:0px;
}
#editconfirm.btn{
	padding: 1px 4px 0px 4px;
	opacity: 0.6;
	margin-left: 10px;
}
#hiddenid {
	display:none;
}
#body {
	padding-bottom: 0px;
}
.logeditdate {
	color:black;
	width:10%;
}
.logeditentry {
	color:black;
	width:80%;
}
.spellDetail {
margin-bottom: 30px;
font-size: 16px;
}
